* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color: black;
  background-color: rgb(235, 240, 245);
  ;


  overflow-y: scroll;
}

.navbar {
  position: sticky;
  background-color: rgb(41, 53, 53);
  z-index: 1;
  height: 80px;
  opacity: 0.5;

  padding: 20px 40px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 50px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li {
  color: #fff;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  list-style: none;
  padding: 10px;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown li {
  padding: 5px 10px;
}

.dropdown li a {
  text-decoration: none;
  color: black;
}

.nav-links li:hover .dropdown {
  display: block;
}

btn,
button {
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

footer {
  color: #f4f4f4;
  background-color: black;
  padding:30px;
}
footer li{
  list-style-type: none;
}
.footer-up,
.footer-middle{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.left{
  display:flex;
  justify-content: space-evenly;
gap:20px;}
