* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

}

section {
  margin: 30px 0px;
}

h1 {
  font-weight: bold;
  text-align: center;
  color: white;

}

.section {
  font-weight: bold;
  text-align: center;
  position: relative;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.background {
  position: absolute;
  top: 0;
  z-index: -2;
  width: 100%;
  margin: 0;
  height: 100%;


}

.title {
  color: black;
  margin: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 30px;


}

.foundations {
  display: flex;
  justify-content: space-around;
  background-color: rgbrgb(235, 240, 245);

}

.trending-section {
  display: flex;
  justify-content: center;
}

.trending-item {
  display: flex;
  flex-direction: column;

}

.trending-item img {
  width: 100%;
  height: 50%;

}

.card-content {
  text-align: start;
}

.foundation-item,
.trending-item {
  background-color: white;
  border-radius: 5px;
  width: 20%;
  height: 380px;
  box-shadow: 0 4px 6px rgba(207, 102, 102, 0.1);
  text-align: center;
  margin: 30px 10px;
}

.foundation-item img {

  /* Icon size
  width: 100px;
  height: 70px;*/
  width: 50%;
  height: 30%;
  margin-bottom: 15px;
}

.foundation-item h3 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 1.2em;
  color: black;

}

.foundation-item p,
.foundation-item li {

  font-size: 0.9em;
  line-height: 1.5;
  color: black;
}

.fixed-image-section {
  background-image: url('./../assets/images/parallax-light.jpg');
  background-attachment: fixed;
  /* Fixes the background image in place */
  background-size: cover;
  /* Ensures the image covers the section */
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  overflow: hidden;
}

.first-parallax {
  background-image: url('./../assets/images/Shared-Space-at-BDD.png');
}

.fixed-image-section>div>img {
  width: 100%;
  /* Ensures the image doesn’t overflow horizontally */
  height: 50%;
  /* Ensures the image doesn’t overflow vertically */
  /* Removes any extra space below the image */
}

.second-parallax {
  background-image: url('./../assets/images/parallax-light.jpg');
  justify-content: center;

}


.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.content div {
  flex: 1;
  text-align: center;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;

}

.service-box {
  background-image: url('./../assets/images/grey-bg.jpg');
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 15%;
  text-align: center;
  display: flex;
  justify-content: space-between;

  flex-direction: column;
  height: 500px;
}

.service-box:hover {
  transform: scale(1.05);
}

.image-box {
  flex-grow: 2;
}

.image-box img {
  width: 100%;
  border-radius: 10px;
  flex-grow: 2;
}

.service-box h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;

}

.service-box ul {
  list-style-type: none;
  margin-bottom: 20px;
}

.service-box ul li {
  margin: 5px 0;
  text-align: left;
  position: relative;
  padding-left: 15px;
  color: #000;

}

.service-box ul li::before {
  content: "►";
  position: absolute;
  left: 0;
  font-size: 12px;
}

.download-app {
  display: flex;
  justify-content: center;
  gap: 50px;

}

.community {
  display: flex;
  justify-content: space-around;
}

.community>div>img:hover {
  opacity: 0.5;
  /* Change opacity on hover */
}
